 .modalMask {
     position: fixed;
     top: 0;
     left: 0;
     background: black;
     right: 0;
     bottom: 0;
     opacity: 0.5;
 }

 .modalContent {
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     margin: auto;
     height: 150px;
     width: 300px;
     border-radius: 15px;
     background: white;
 }