 .mask {
     position: fixed;
     top: 0;
     left: 0;
     background: black;
     right: 0;
     bottom: 0;
     opacity: 0.5;
 }

 .mask+img {
     position: fixed;
     top: 0;
     left: 0;
     width: 200px;
     right: 0;
     bottom: 0;
     margin: auto;

 }